*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(163, 110, 4);
}

.container{
    background-color: #191f36;
    border-top-right-radius: 51%;
    /* border-bottom-left-radius: 25%; */
    width: 100%;
    height: 100Vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-wrapper{
    background-color: rgb(6, 116, 179);
    /* border-top-right-radius: 10%; */
    min-width: 450px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 6px 40px rgb(131, 129, 126);
    margin-bottom: 10px;
    border: 3px solid #0788d9;
}


.header h1{
    color: rgb(255, 181, 0);
    text-align: center;
    margin: 30px 0;
     border-bottom: 2px solid #e1720a;
    margin-top: -12px;
   
     

}
.header h1:hover{
    border-bottom: 2px solid #191f36;
    

}


.task-input{
    outline: none;
    width: 280px;
    padding: 15px;
    margin: 15px;
    margin-right: 25px;
    font-size: 20px;
    color: #ccc;
    background-color: #262b40;
    /* border: 3px soild red; */
    border-radius: 10px;
}

.button-add{
    width: 70px;
    padding: 15px  15px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color:#f1a156;
    cursor: pointer;
    /* border: 1px solid black; */
}
.button-add:hover{
    background-color:#edb785;
    /* border: 1px solid salmon; */

}

.list-item{
    display: flex;
    margin: 20px 0;
    border: 2px solid #150e0e;
    border-radius: 10px;
    padding: 10px;
    max-height: 30px;
    background-color: rgb(43, 205, 226);

}

.button-complete,.button-delete,.button-edit{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;
}

.button-complete{
    color: #a007a8;
    margin-right: 10px;

}

.button-edit{
    color: #a007a8;
    margin-right: 10px;
    margin-left: 20px;
}

.button-delete{
    color: #a007a8;
    margin-left: 20px;
}

.complete{
    text-decoration-style: solid;
    text-decoration-line: line-through;
    text-decoration-color: #940101;
    opacity: 0.5;

}

.list{
    width: 220px;
   
    border: none;
    
    color: #191f36;
    background-color: rgb(43, 205, 226);
    font-size: 25px;
    padding-left: 10px;
    margin-right: 15px;
}


input:focus,button:focus{
    outline: none;
}
@media (max-width:600px){
    .header h1{
        font-size: 1.5rem;
    }

    .task-input{
        font-size: 0.9rem;
        width: 200px;
    }
    .button-add{
        font-size: 0.9rem;
    }

    .app-wrapper{
        min-width: 300px;
    min-height: 600px;
    }

}